.basic-carousel{
	margin-bottom: 40px;

	.pic {
		background: rgba( 255,255,255,.7 );
		padding: 15px;
	}
}

.left-nav-carousel{

	.pic {
		padding: 5px;

		img{
			box-shadow: 2px 2px 2px rgba(0,0,0,.2);
		}
	}
}

.nav-carousel-left{
	margin: 20px auto;

	button {
		background: transparent;
		border-color: rgba(14, 14, 14, 0.3);
    	color: rgba(14, 14, 14, 0.3);
    	display: inline-block;
    	margin: 5px;
	    padding: 0 7px;
	    width: 36px;

	    &:hover{
		    border-color: $brand;
		    color: #ffffff;
    		background-color: $tertiary;
	    }

		span {
			line-height: 36px;
		    padding: 0 3px;
		    font-size: 22px;
		}
	}
}
