.block-pagination-top{
  margin-bottom: 0px !important;
}
.block-pagination {
  margin-bottom: 40px;
  ul > {
    .active > {
      a, span {
        border-color: $brand;
        color: #ffffff;
        background-color: $brand;
      }
      a:hover, span:hover {
        background: $brand;
        border-color: $brand;
      }
    }
    li {
      > a {
        &:focus, &:hover {
          border-color: $brand;
          background: $brand;
          color: #ffffff;
        }
        border: 1px solid #eaeaea;
        color: rgba(14, 14, 14, 0.5);
      }
    }
  }
}