/* VARIABLES */
$font-size-base : 16px;
$font-family-serif : Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'Raleway', sans-serif;
/* color scheme */
$primary: #000000;
$secondary: #8fc73e;
$tertiary: #000000;

$dark-grey: #e1e1e1;
$muted-grey: #999999;
$medium-grey: #cccccc;
$light-grey: #e1e1e1;
$lightest-grey: #efefef;

$btn-primary-bg: $primary;
$btn-secondary-bg: $secondary;

$danger: #b10505;